<div class="container">
  <div class="content">
    <div class="logo" (click)="toHome()">
      <img
        class="jm-logo"
        src="logos/white_logo.png"
        alt="logo do jornada milhas"
      />
    </div>
    <div class="menu">
      <div class="links">
        <ul>
          <li><button>Vender milhas</button></li>
          <li><button>Sobre</button></li>
        </ul>
      </div>
      <div class="user">
        <div class="register-or-Login">
          @if (!currentUser()) {
            <button class="primary-btn">Cadastre-se</button>
          } @else {
            <button class="user-circle">
              <img src="icons/user_circle_icon.png" />
            </button>
          }
          @if (!currentUser()) {
            <button
              mat-fab
              extended
              class="secondary-btn"
              (click)="openLoginDialog()"
            >
              <mat-icon>login</mat-icon>
              Login
            </button>
          } @else {
            <button
              matFab
              extended
              class="secondary-btn"
              (click)="openLogoutDialog()"
            >
              <mat-icon>logout</mat-icon>
              Logout
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
